extends layout
block content
  h1= title
  - let vehicleid = toShow._id
  - let name = toShow.name
  - let type = toShow.type
  - let noofpassangers = toShow.noofpassangers
  div
    div.row
      div(class='vehicleAttr mr-3') vehicle ID is:
      div #{vehicleid}
    div.row
      div(class='vehicleAttr mr-3') vehicle name is:
      div #{name}
    div.row
      div(class='vehicleAttr mr-3') vehicle type is:
      div #{type}
    div.row
      div(class='vehicleAttr mr-3')  noofpassangers is:
      div #{noofpassangers}